<header>
  <h1>Trellock is a simpler version of trello which manages boards</h1>

  <iframe
    src="/assets/video.webm"
    width="640"
    height="361"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen
  ></iframe>

  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OWy0e231eMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  <p>
    <a
      mat-raised-button
      color="accent"
      style="margin-right: 10px;"
      routerLink="/kanban"
      >Build Boards</a
    >
    <a
      mat-raised-button
      href="https://github.com/codediodeio/trellock"
      target="blank"
      >View Source</a
    >
  </p>
</header>
