<header>
  <h1>Trellock is a simpler version of trello which manages boards</h1>
  <div class="video-player">
    <iframe
      class="video-custom"
      src="/assets/video.webm"
      width="640"
      height="361"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  </div>
  <p>
    <a
      mat-raised-button
      color="accent"
      style="margin-right: 10px;"
      routerLink="/kanban"
      >Build Boards</a
    >
    <a
      mat-raised-button
      href="https://github.com/manuarora700/trellock"
      target="blank"
      >View Source</a
    >
  </p>
</header>
